# Getting and Knowing your Data

We are going to pull data directly from the internet.

### Step 1. Import the necessary libraries

In [102]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [103]:
data = pd.read_csv('data_chipotle.tsv.txt', sep='\t')
type(data)
data.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. See the first 10 entries

In [104]:
data.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [105]:
# Solution 1

nombre_observations = len(data)
nombre_observations

4622

In [106]:
# Solution 2
nombre_observations = data.shape[0]
nombre_observations

4622

### Step 6. What is the number of columns in the dataset?

In [107]:
nombre_observations = data.shape[1]
nombre_observations

5

### Step 7. Print the name of all the columns.

In [108]:
names_columns = data.columns
for name_column in names_columns:
    print(name_column)

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [109]:
print(data.index)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [110]:
most_ordered_item = data.groupby("item_name")["quantity"].sum().sort_values(ascending=False)

most_ordered_item = most_ordered_item.index[0]

print( most_ordered_item)

Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [111]:
most_ordered_items = data.groupby("item_name")["quantity"].sum().sort_values(ascending=False)

most_ordered_item = most_ordered_items.index[0]

quantity_ordered = most_ordered_items.iloc[0]

print(most_ordered_item, quantity_ordered )

Chicken Bowl 761

### Step 11. What was the most ordered item in the choice_description column?

In [129]:
most_choice_description = data.groupby("choice_description")["quantity"].sum().sort_values(ascending=False)

most_ordered_choice_description = most_choice_description.index[0]
most_ordered_choice_description

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [113]:
total_orderd = data["quantity"].sum()

print(total_orderd)

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [114]:
item_price_type = data['item_price'].dtypes
print(item_price_type)

object

#### Step 13.b. Create a function and change the type of item price

In [115]:
def convert_item_price(df):
    df['item_price'] = df['item_price'].astype(str).str.replace('$', '').astype(float)
    return df

data = convert_item_price(data)
data

item_price = data['item_price'].dtype
item_price

dtype('float64')

#### Step 13.c. Check the item price type

In [116]:
item_price_type = data['item_price'].dtype
item_price_type

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [117]:
revenue = (data['item_price'] * data['quantity']).sum()

revenue

39237.02

### Step 15. How many orders were made in the period?

In [118]:
orders = data['order_id'].nunique()
orders

1834

### Step 16. What is the average revenue amount per order?

In [121]:
# Solution 1

total_revenue = (data['item_price'] * data['quantity']).sum()

orders = data['order_id'].nunique()

average_revenue_per_order = total_revenue / orders

average_revenue_per_order

21.39423118865867

In [123]:
# Solution 2
order_total_revenue = data.groupby('order_id')['item_price'].sum()

order_total_revenue.mean()

18.811428571428568

### Step 17. How many different items are sold?

In [126]:
unique_items = data['item_name'].nunique()

unique_items

50